img {
    height: 30vh;
    width: 30vh;
}

.bildegalleri {
    border: 0px solid black;
    width: 30vh;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

.section1 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}