.navbar {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content:center;
    overflow: hidden;
    background-color: #ffffff;
}

.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #dbdbdb;
    animation-name: change-color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    }
    
    @keyframes change-color {
      from {color: rgb(0, 0, 0);
    }
    
    to {color: coral;
    }
}

img {
    height: 30vh;
    width: 30vh;
}

img:hover {
    scale: 1.5;
}

.bildegalleri {
    border: 0px solid black;
    display: flex;
    margin: 10px 5px;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Row1, .Row2, .Row3 {
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Row1 {
    background-image: url(/Bildegalleri/1b.jpg);
    padding-top: 30vh;
}

.Row2 {
    background-image: url(/Bildegalleri/2b.jpg);
}

.Row3 {
    background-image: url(/Bildegalleri/3b.jpg);
    padding-bottom: 30vh;
}